body {
    position: relative;
}

ul.nav-pills {
    position: fixed;
    top: 100px;
    /* Höhe des Headers */
}

.container {
    padding-top: 100px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    /* Höhe des Headers */
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    /* Schatten nach unten */
}

/* Inhalt der Navbar */
.navbar .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
}

/* Einstellungen für die Sidebar */
.nav-pills .nav-link {
    color: #000000;
    /* Textfarbe */
    background-color: #ffffff;
    /* Hintergrundfarbe */
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000000;
    /* Aktive Textfarbe */
    background-color: #f0f0f0;
    /* Aktive Hintergrundfarbe */
    font-weight: bold;
    /* Fett */
}

/* Sidebar verschwindet bei kleineren Bildschirmen */
@media (max-width: 767.98px) {
    .col-xs-12.col-md-3 {
        display: none;
    }
}

/* Stellt sicher, dass Abschnitt im Guide nicht von Navbar verdeckt werden */
div[id^="help-"] {
    scroll-margin-top: 120px;
}

.section-divider {
    height: 0;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar-help-header {
    background-color: #005b9d;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* h3 Formatierung*/
h3 {
    color:#005b9d;   
    /* Farbe */
    font-size:22pt;  
    /* Größe */
    font-weight: 500; 
    /* Semi-Fett */
}

/* h4 Formatierung*/
h4 {
    color:#020202;   
    /* Farbe */
    font-size:16pt;  
    /* Größe */
    font-weight: 300; 
    /* Light */
}

/* h5 Formatierung*/
h5 {
    color:#020202;   
    /* Farbe */
    font-size:11pt;  
    /* Größe */
    margin-left: 10px;
    /* Rückt die Überschrift nach rechts ein */
    font-weight: 600; 
    /* Semi-Fett */
}


/* Style for small inline logos next to headings (e.g., ORCID, ROR) */
.logo-icon {
  height: 1em;
  width: auto;
  max-height: 1em;
  vertical-align: text-bottom;
  margin-left: 0.3em;
  display: inline-block;
}
