settings.php
playwright-variant-lock.php
.vscode/
.phpunit.result.cache
.env
docker-compose.override.yml
node_modules/
vendor/
install.js
install.html

.DS_Store # macOS specific file

# Playwright
test-results/
test-results.json
playwright-report/
blob-report/
playwright/.cache/
debug-page.png
tests/playwright/flows/outputDataActual/*
!tests/playwright/flows/outputDataActual/.gitkeep

# Autosave files
storage/drafts/

# ERNIE cache files
storage/cache/*.json
!storage/cache/.gitkeep

# PHPUnit logs
test.log
.tmp/

# Ignore all content in the xml directory...
xml/*
# ...but do not ignore the .gitkeep file.
!xml/.gitkeep
xml_submit_backup.txt
