parameters:
    level: 6
    paths:
        - api
        - endpoints
        - scripts
        - includes/http_routing.php
        - index.php
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        analyse:
            - tests
            - vendor
            - node_modules (?)
            - doc
            - save
            - schemas
            - css
            - js
            - xml
            - json
            - .github