parameters:
	ignoreErrors:
		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: generate_xml_files.php

		-
			message: '#^Variable \$connection might not be defined\.$#'
			identifier: variable.undefined
			count: 12
			path: send_xml_file.php

		-
			message: '#^Variable \$debugging_output might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: send_xml_file.php

		-
			message: '#^Variable \$resource_id in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: send_xml_file.php

		-
			message: '#^Variable \$showGGMsProperties might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: send_xml_file.php

		-
			message: '#^Variable \$smtpAuth might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: send_xml_file.php

		-
			message: '#^Variable \$smtpHost might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: send_xml_file.php

		-
			message: '#^Variable \$smtpPassword might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: send_xml_file.php

		-
			message: '#^Variable \$smtpPort might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: send_xml_file.php

		-
			message: '#^Variable \$smtpSecure might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: send_xml_file.php

		-
			message: '#^Variable \$smtpSender might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: send_xml_file.php

		-
			message: '#^Variable \$smtpUser might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: send_xml_file.php

		-
			message: '#^Variable \$xmlSubmitAddress might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: send_xml_file.php