<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true">
    <testsuites>
        <testsuite name="SaveTests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
    <!-- Add Coverage configs -->
    <source>
        <include>
            <directory suffix=".php">./api</directory>
            <directory suffix=".php">./doc</directory>
            <directory suffix=".php">./save</directory>
        </include>
        <exclude>
            <directory>./.github</directory>
            <directory>./.vscode</directory>
            <directory>./assets</directory>
            <directory>./css</directory>
            <directory>./formgroups</directory>
            <directory>./js</directory>
            <directory>./json</directory>
            <directory>./lang</directory>
            <directory>./schemas</directory>
            <directory>./tests</directory>
            <directory>./vendor</directory>
            <directory>./xml</directory>
        </exclude>
    </source>
</phpunit>