openapi: 3.1.1
info:
  title: ELMO - Enhanced Linked Metadata Organizer
  description: |-
    This is the ELMO API V2 from GFZ Data Services. The API allows management and retrieval of metadata for scientific datasets.

    Some useful links:
    - [The ELMO repository](https://github.com/McNamara84/elmo)
    - [Test Server](https://env.rz-vm182.gfz.de/elmo)
    - [Legal notice](https://dataservices-cms.gfz.de/about-us/legal-notice)

    ### Authentication
    All `/update/` endpoints require authentication using an API key. Contact the administrator to obtain an API key.

    ### Binary Data
    Some endpoints return downloadable XML or JSON-LD files. These responses use `application/xml`
    or `application/ld+json` depending on the selected export scheme.

    ### Rate Limiting
    Rate limiting may apply to prevent abuse.
  termsOfService: https://github.com/McNamara84/elmo
  contact:
    name: Holger Ehrmann
    email: ehrmann@gfz.de
    url: https://env.rz-vm182.gfz.de/elmo
  license:
    name: GPL-2.0-only
    url: https://raw.githubusercontent.com/McNamara84/elmo/refs/heads/main/LICENSE.md
  version: 2.0.1
externalDocs:
  description: Documentation of the API V1 at GitHub
  url: https://github.com/McNamara84/elmo#api-endpunkte
servers:
  - url: https://env.rz-vm182.gfz.de/elmo/api/v2
    description: Test server
security:
  - []
  - ApiKeyAuth: []
tags:
  - name: general
    description: General operations for health checks and version
  - name: update
    description: Operations for updating the vocabularies
  - name: vocabularies
    description: Operations for retrieving vocabularies
  - name: validation
    description: Operations for data validation
  - name: dataset
    description: Operations for dataset management and export
  - name: drafts
    description: Operations for managing autosave drafts within a user session
  - name: admin
    description: Administrative operations for cache management (requires API key)
  - name: doi
    description: DOI lookup operations via the DataCite REST API
paths:
  /update/timezones:
    get:
      tags:
        - update
      summary: Update timezones
      description: Fetches the latest timezones from TimeZoneDB API and updates the local JSON file.
      operationId: updateTimezones
      responses:
        "200":
          description: Timezones successfully updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimezonesUpdateResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /update/ror:
    get:
      tags:
        - update
      summary: Update ROR affiliations
      description: |-
        Updates the ROR (Research Organization Registry) affiliations and stores them in `json/affiliations.json` for autocomplete functionality. Each entry in the generated file contains the ROR identifier (`id`), the preferred affiliation name (`name`), and an array of alternative names (`other`) including aliases, labels without language codes, and acronyms.
      operationId: getRorAffiliations
      responses:
        "200":
          description: ROR affiliations successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
                    example: "ROR affiliations successfully updated"
                  count:
                    type: integer
                    description: Number of affiliations processed
                    example: 111808
                  timestamp:
                    type: string
                    format: date-time
                    description: Time of update
                    example: "2025-01-15T14:30:00Z"
                required:
                  - message
                  - count
                  - timestamp
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /update/vocabs/msl:
    get:
      tags:
        - update
      summary: Update MSL vocabularies
      description: |-
        Updates all MSL vocabularies (materials, porefluids, and rockphysics) from the source repository. 
        Synonyms from the source are stored as comma-separated strings in the description field.
      operationId: getMslVocab
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VocabularyUpdate"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /update/vocabs/msl/labs:
    get:
      tags:
        - update
      summary: Update MSL Labs vocabulary
      description: Fetch and update the MSL Labs vocabulary from the GitHub repository.
      operationId: updateMslLabs
      responses:
        "200":
          description: MSL Labs vocabulary successfully updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MSLLabsUpdateResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /update/vocabs/gcmd:
    get:
      tags:
        - update
      summary: Update GCMD vocabularies (Science Keywords, Instruments, and Platforms)
      description: Updates all GCMD vocabularies (Science Keywords, Instruments, and Platforms) from NASA's GCMD repository
      operationId: updateGcmdVocabs
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GcmdVocabularyUpdate"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /update/vocabs/cgi:
    get:
      tags:
        - update
      summary: Update CGI Simple Lithology keywords
      description: Fetches the latest CGI Simple Lithology vocabulary and stores it as JSON.
      operationId: updateCGIKeywords
      responses:
        "200":
          description: CGI keywords successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "CGI keywords successfully updated"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2025-01-19T08:45:22Z"
                required:
                  - message
                  - timestamp
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /update/crossref:
    get:
      tags:
        - update
      summary: Update CrossRef funders
      description: |-
        Updates the CrossRef funders list by:
        1. Fetching all funders from the CrossRef API using pagination
        2. Processing and storing the data for dropdown selection
        3. Saving them as JSON for dropdown functionality

        Important: Uses polite rate limiting and includes proper user agent headers
        as required by CrossRef's API etiquette.
      operationId: getCrossref
      responses:
        "200":
          description: CrossRef funders successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
                    example: "CrossRef funders successfully updated"
                  count:
                    type: integer
                    description: Number of funders processed
                    example: 27391
                  timestamp:
                    type: string
                    format: date-time
                    description: Time of update
                    example: "2025-01-19T08:45:22Z"
                required:
                  - message
                  - count
                  - timestamp
        "429":
          description: Too many requests - rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /general/alive:
    get:
      tags:
        - general
      security: []
      summary: Health check
      description: Check if the API is responsive
      operationId: getAlive
      responses:
        "200":
          description: API is responsive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /vocabs/sciencekeywords:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get GCMD Science Keywords (for third party use)
      description: Retrieve the controlled vocabulary of GCMD Science Keywords from NASA (already prepared for use with jsTree)
      operationId: getGcmdScienceKeywords
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VocabularyTree"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /vocabs/cgi:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get CGI Simple Lithology keywords
      description: Retrieve the CGI Simple Lithology vocabulary already prepared for use with jsTree
      operationId: getCGIKeywords
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VocabularyTree"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /vocabs/freekeywords/all:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get all free keywords
      description: Returns all free keywords from the database, regardless of curation status
      operationId: getAllFreeKeywords
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeKeywordsResponse"
        "404":
          description: No keywords found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /vocabs/freekeywords/curated:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get curated free keywords
      description: Returns only curated free keywords from the database
      operationId: getCuratedFreeKeywords
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeKeywordsResponse"
        "404":
          description: No curated keywords found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /vocabs/freekeywords/uncurated:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get uncurated free keywords
      description: Returns only uncurated free keywords from the database
      operationId: getUncuratedFreeKeywords
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeKeywordsResponse"
        "404":
          description: No uncurated keywords found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /vocabs/roles:
    get:
      tags:
        - vocabularies
      security: []
      summary: Retrieve roles based on type
      description: |
        Get a list of roles filtered by type. When ERNIE is configured, roles are fetched
        from the ERNIE API (with caching) and synced to the local database. Falls back to
        the local database if ERNIE is unavailable.
      operationId: getRoles
      parameters:
        - name: type
          in: query
          description: Type of roles to retrieve
          schema:
            type: string
            enum: [all, person, institution, both]
            default: all
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Role"
        "400":
          description: Invalid role type provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /vocabs/relations:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get all relations
      description: Retrieve all available relations for dataset relationships
      operationId: getRelations
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RelationsResponse"
        "404":
          description: No relations found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /vocabs/licenses/all:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get all licenses
      description: Returns all available licenses
      operationId: getAllLicenses
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/License"
        "404":
          description: No licenses found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /vocabs/licenses/software:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get software licenses
      description: Returns licenses specifically for software
      operationId: getSoftwareLicenses
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SoftwareLicense"
        "404":
          description: No software licenses found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /vocabs/pid4inst/instruments:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get PID4INST instruments
      description: Retrieve instruments from the PID4INST catalogue (via ERNIE API with caching). Returns a simplified list with only the fields needed by the frontend.
      operationId: getPid4instInstruments
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Pid4instInstrument"
        "503":
          description: Instrument data temporarily unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/pid4inst/refresh:
    post:
      tags:
        - update
      summary: Refresh PID4INST instruments cache
      description: Forces a refresh of the cached PID4INST instrument data from the ERNIE API. Requires API key authentication.
      operationId: refreshPid4instCache
      parameters:
        - name: X-API-KEY
          in: header
          required: true
          schema:
            type: string
          description: API key for authentication
      responses:
        "200":
          description: Cache refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "PID4INST instruments cache refreshed successfully."
        "401":
          description: Unauthorized - Invalid or missing API key
        "500":
          description: Failed to refresh cache
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/pid4inst/status:
    get:
      tags:
        - update
      summary: Get PID4INST cache status
      description: Returns the current status of the PID4INST instruments cache including validity, age, and entry count. Requires API key authentication.
      operationId: getPid4instCacheStatus
      parameters:
        - name: X-API-KEY
          in: header
          required: true
          schema:
            type: string
          description: API key for authentication
      responses:
        "200":
          description: Cache status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists:
                    type: boolean
                  valid:
                    type: boolean
                  age_seconds:
                    type: integer
                    nullable: true
                  ttl_seconds:
                    type: integer
                  entry_count:
                    type: integer
                    nullable: true
        "401":
          description: Unauthorized - Invalid or missing API key
  /vocabs/resourcetypes:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get resource types
      description: Retrieve all available DataCite resource types
      operationId: getResourceTypes
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ResourceType"
        "404":
          description: No resource types found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /vocabs/languages:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get languages
      description: Retrieve all available languages
      operationId: getLanguages
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Language"
        "404":
          description: No languages found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /vocabs/titletypes:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get title types
      description: Retrieve all available title types. When ERNIE is configured, types are fetched from ERNIE with caching and synced to the local database. Falls back to the local database if ERNIE is unavailable.
      operationId: getTitleTypes
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TitleType"
        "404":
          description: No title types found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /vocabs/descriptiontypes:
    get:
      tags:
        - vocabularies
      security: []
      summary: Get description types
      description: Retrieve all available description types. When ERNIE is configured, types are fetched from ERNIE with caching. Falls back to hardcoded types (Abstract, Methods, TechnicalInfo, Other) if ERNIE is unavailable.
      operationId: getDescriptionTypes
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DescriptionType"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /validation/patterns/{type}:
    get:
      tags:
        - validation
      security: []
      summary: Retrieve regex pattern for validation
      description: Returns the regex pattern for validating the specified type
      operationId: getPattern
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
          description: The type for which to retrieve the validation pattern
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatternResponse"
        "404":
          description: Pattern not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /validation/identifiertypes/all:
    get:
      tags:
        - validation
      security: []
      summary: Get all identifier types
      description: Returns all available identifier types with their validation patterns.
      operationId: getIdentifierTypes
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentifierTypesResponse"
        "404":
          description: No identifier types found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /validation/identifiertypes/active:
    get:
      tags:
        - validation
      security: []
      summary: Get active identifier types
      description: Returns only identifier types that are currently visible (`isShown = 1`).
      operationId: getActiveIdentifierTypes
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentifierTypesResponse"
        "404":
          description: No active identifier types found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /validation/identifiertypes/inactive:
    get:
      tags:
        - validation
      security: []
      summary: Get inactive identifier types
      description: Returns only identifier types that are currently hidden (`isShown = 0`).
      operationId: getInactiveIdentifierTypes
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentifierTypesResponse"
        "404":
          description: No inactive identifier types found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /dataset/export/{id}/{scheme}:
    get:
      tags:
        - dataset
      security: []
      summary: View dataset as XML or JSON-LD
      description: View a dataset in the specified metadata scheme. `datacite` and `iso` return XML, `jsonld` returns compact DataCite JSON-LD.
      operationId: exportDataset
      parameters:
        - name: id
          in: path
          description: Dataset ID to export
          required: true
          schema:
            type: integer
            format: int64
        - name: scheme
          in: path
          description: Metadata scheme for export
          required: true
          schema:
            type: string
            enum: [datacite, iso, jsonld]
      responses:
        "200":
          description: Successful operation
          content:
            application/xml:
              schema:
                type: string
                format: binary
                description: XML content of the dataset
            application/ld+json:
              schema:
                type: object
                description: Compact DataCite JSON-LD representation of the dataset
        "400":
          description: Invalid ID or scheme provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /dataset/export/{id}/{scheme}/download:
    get:
      tags:
        - dataset
      security: []
      summary: Download dataset as XML or JSON-LD
      description: Download a dataset in the specified metadata scheme. `datacite` and `iso` return XML, `jsonld` returns compact DataCite JSON-LD.
      operationId: exportDatasetDownload
      parameters:
        - name: id
          in: path
          description: Dataset ID to export
          required: true
          schema:
            type: integer
            format: int64
        - name: scheme
          in: path
          description: Metadata scheme for export
          required: true
          schema:
            type: string
            enum: [datacite, iso, jsonld]
      responses:
        "200":
          description: Successful operation
          content:
            application/xml:
              schema:
                type: string
                format: binary
                description: XML file for download
            application/ld+json:
              schema:
                type: string
                format: binary
                description: JSON-LD file for download
        "400":
          description: Invalid ID or scheme provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /dataset/export/{id}/all:
    get:
      tags:
        - dataset
      security: []
      summary: View all metadata formats
      description: View dataset in all available metadata schemes combined in one XML document
      operationId: exportAllFormats
      parameters:
        - name: id
          in: path
          description: Dataset ID to export
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Successful operation
          content:
            application/xml:
              schema:
                type: string
                format: binary
                description: Combined XML content
        "400":
          description: Invalid ID provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /dataset/export/{id}/all/download:
    get:
      tags:
        - dataset
      security: []
      summary: Download all metadata formats
      description: Download dataset in all available metadata schemes as a single XML file
      operationId: exportAllFormatsDownload
      parameters:
        - name: id
          in: path
          description: Dataset ID to export
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                description: Combined XML file for download
        "400":
          description: Invalid ID provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /dataset/icgem_export/{id}:
    get:
      tags:
        - dataset
      security: []
      summary: Export dataset in ICGEM format
      description: Retrieves dataset metadata combined with ICGEM-specific Global Gravitational Model (GGM) properties as an XML document.
      operationId: exportICGEMxml
      parameters:
        - name: id
          in: path
          description: Dataset ID to export
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Successful operation
          content:
            application/xml:
              schema:
                type: string
                format: binary
              example: |
                <?xml version="1.0" encoding="UTF-8"?>
                <icgemMetadata xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <modelName>EIGEN-6C4</modelName>
                  <modelType>Static</modelType>
                  <mathematicalRepresentation>Spherical harmonics</mathematicalRepresentation>
                  <degree>2190</degree>
                  <errors>formal</errors>
                  <tideSystem>tide-free</tideSystem>
                  <earthGravityConstant>3.986004415E+14</earthGravityConstant>
                  <radius>6378136.3</radius>
                  <DataSources>
                    <DataSource>
                      <sourceId>22</sourceId>
                      <sourceType>S</sourceType>
                      <description>composite description</description>
                      <SatelliteValueName>Space-based Platforms &gt; Earth Observation Satellites &gt; GRACE-FO</SatelliteValueName>
                      <SatelliteValueUri>https://gcmd.earthdata.nasa.gov/kms/concept/f75e34e2-ebe7-4a6c-8bf6-da596a36b632</SatelliteValueUri>
                      <SatelliteSchemeName>NASA/GCMD Earth Platforms Keywords</SatelliteSchemeName>
                      <SatelliteSchemeUri>https://gcmd.earthdata.nasa.gov/kms/concepts/concept_scheme/platforms</SatelliteSchemeUri>
                    </DataSource>
                    <DataSource>
                      <sourceId>23</sourceId>
                      <sourceType>S</sourceType>
                      <description>composite description</description>
                      <SatelliteValueName>Space-based Platforms &gt; Earth Observation Satellites &gt; Laser Geodetic Satellite (LAGEOS) &gt; LAGEOS-1</SatelliteValueName>
                      <SatelliteValueUri>https://gcmd.earthdata.nasa.gov/kms/concept/8124c4a5-fb77-455c-9ecd-3cf325fc12a9</SatelliteValueUri>
                      <SatelliteSchemeName>NASA/GCMD Earth Platforms Keywords</SatelliteSchemeName>
                      <SatelliteSchemeUri>https://gcmd.earthdata.nasa.gov/kms/concepts/concept_scheme/platforms</SatelliteSchemeUri>
                    </DataSource>
                  </DataSources>
                  <TemporalModelProperties>
                    <TemporalProperty>
                      <generatingInstitution>fdt</generatingInstitution>
                      <temporalResolutionDays>1</temporalResolutionDays>
                      <startDate>2026-01-10</startDate>
                      <endDate>2026-01-16</endDate>
                      <release>3</release>
                    </TemporalProperty>
                  </TemporalModelProperties>
                </icgemMetadata>
        "404":
          description: Dataset not found or contains no GGM data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /drafts:
    post:
      tags:
        - drafts
      summary: Create autosave draft
      description: Creates a new autosave draft for the active user session and returns metadata about the stored draft.
      operationId: createDraft
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DraftRequest"
      responses:
        "201":
          description: Draft created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DraftMetadata"
        "422":
          description: Invalid payload provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /drafts/{id}:
    get:
      tags:
        - drafts
      summary: Get autosave draft
      description: Retrieves the autosave draft payload for the provided identifier if it belongs to the current session.
      operationId: getDraft
      parameters:
        - name: id
          in: path
          required: true
          description: Identifier of the draft to retrieve
          schema:
            type: string
            pattern: "^[a-f0-9]{32}$"
      responses:
        "200":
          description: Draft payload returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DraftRecord"
        "400":
          description: Draft identifier missing or malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Draft belongs to another session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "204":
          description: Draft not found for the current session (no body)
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      tags:
        - drafts
      summary: Update autosave draft
      description: Replaces the payload of an existing autosave draft belonging to the current session.
      operationId: updateDraft
      parameters:
        - name: id
          in: path
          required: true
          description: Identifier of the draft to update
          schema:
            type: string
            pattern: "^[a-f0-9]{32}$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DraftRequest"
      responses:
        "200":
          description: Draft updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DraftMetadata"
        "400":
          description: Draft identifier missing or malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Draft belongs to another session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Draft not found for the current session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Invalid payload provided
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags:
        - drafts
      summary: Delete autosave draft
      description: Removes the specified autosave draft from the current session storage.
      operationId: deleteDraft
      parameters:
        - name: id
          in: path
          required: true
          description: Identifier of the draft to delete
          schema:
            type: string
            pattern: "^[a-f0-9]{32}$"
      responses:
        "204":
          description: Draft deleted successfully
        "400":
          description: Draft identifier missing or malformed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Draft not found for the current session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /drafts/session/latest:
    get:
      tags:
        - drafts
      summary: Get latest draft for session
      description: Returns the latest autosave draft for the active user session when available.
      operationId: getLatestDraftForSession
      responses:
        "200":
          description: Latest draft returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DraftRecord"
        "204":
          description: No draft stored for the current session
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/titletypes/refresh:
    post:
      tags:
        - admin
      summary: Refresh title types cache
      description: Forces a refresh of the ERNIE title types cache and syncs the data to the local database. Requires API key authentication. This endpoint is typically triggered by ERNIE after title type configuration changes.
      operationId: refreshTitleTypesCache
      responses:
        "200":
          description: Cache refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Title types cache refreshed successfully"
                  itemCount:
                    type: integer
                    example: 5
                  lastUpdated:
                    type: string
                    format: date-time
                    example: "2026-02-27T10:30:00+00:00"
        "400":
          description: ERNIE service is not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Failed to fetch data from ERNIE
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/titletypes/status:
    get:
      tags:
        - admin
      summary: Get title types cache status
      description: Returns the current status of the ERNIE title types cache including validity, age, and item count.
      operationId: getTitleTypesCacheStatus
      responses:
        "200":
          description: Cache status returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  configured:
                    type: boolean
                    description: Whether ERNIE service is configured
                    example: true
                  cache:
                    type: object
                    properties:
                      exists:
                        type: boolean
                        example: true
                      valid:
                        type: boolean
                        example: true
                      lastUpdated:
                        type: string
                        format: date-time
                        example: "2026-02-27T10:30:00+00:00"
                      age:
                        type: integer
                        description: Cache age in seconds
                        example: 3600
                      ageFormatted:
                        type: string
                        example: "1 hour 0 minutes"
                      ttl:
                        type: integer
                        description: Cache TTL in seconds
                        example: 21600
                      itemCount:
                        type: integer
                        example: 5
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/descriptiontypes/refresh:
    post:
      tags:
        - admin
      summary: Refresh description types cache
      description: Forces a refresh of the ERNIE description types cache. Requires API key authentication. This endpoint is typically triggered by ERNIE after description type configuration changes.
      operationId: refreshDescriptionTypesCache
      responses:
        "200":
          description: Cache refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Description types cache refreshed successfully"
                  itemCount:
                    type: integer
                    example: 6
                  lastUpdated:
                    type: string
                    format: date-time
                    example: "2026-03-16T10:30:00+00:00"
        "400":
          description: ERNIE service is not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Failed to fetch data from ERNIE
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/descriptiontypes/status:
    get:
      tags:
        - admin
      summary: Get description types cache status
      description: Returns the current status of the ERNIE description types cache including validity, age, and item count.
      operationId: getDescriptionTypesCacheStatus
      responses:
        "200":
          description: Cache status returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  configured:
                    type: boolean
                    description: Whether ERNIE service is configured
                    example: true
                  cache:
                    type: object
                    properties:
                      exists:
                        type: boolean
                        example: true
                      valid:
                        type: boolean
                        example: true
                      lastUpdated:
                        type: string
                        format: date-time
                        example: "2026-03-16T10:30:00+00:00"
                      age:
                        type: integer
                        description: Cache age in seconds
                        example: 3600
                      ageFormatted:
                        type: string
                        example: "1 hour 0 minutes"
                      ttl:
                        type: integer
                        description: Cache TTL in seconds
                        example: 21600
                      itemCount:
                        type: integer
                        example: 6
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/roles/contributor-persons/refresh:
    post:
      tags:
        - admin
      summary: Refresh contributor person roles cache
      description: Forces a refresh of the ERNIE contributor person roles cache and syncs the data to the local database. Requires API key authentication.
      operationId: refreshContributorPersonRolesCache
      responses:
        "200":
          description: Cache refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Contributor person roles cache refreshed successfully"
                  itemCount:
                    type: integer
                    example: 16
                  lastUpdated:
                    type: string
                    format: date-time
                    example: "2026-03-08T10:30:00+00:00"
        "400":
          description: ERNIE service is not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Failed to fetch data from ERNIE
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/roles/contributor-persons/status:
    get:
      tags:
        - admin
      summary: Get contributor person roles cache status
      description: Returns the current status of the ERNIE contributor person roles cache including validity, age, and item count.
      operationId: getContributorPersonRolesCacheStatus
      responses:
        "200":
          description: Cache status returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  configured:
                    type: boolean
                    description: Whether ERNIE service is configured
                    example: true
                  cache:
                    type: object
                    properties:
                      exists:
                        type: boolean
                        example: true
                      valid:
                        type: boolean
                        example: true
                      lastUpdated:
                        type: string
                        format: date-time
                        example: "2026-03-08T10:30:00+00:00"
                      age:
                        type: integer
                        description: Cache age in seconds
                        example: 3600
                      ageFormatted:
                        type: string
                        example: "1 hour 0 minutes"
                      ttl:
                        type: integer
                        description: Cache TTL in seconds
                        example: 21600
                      itemCount:
                        type: integer
                        example: 16
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/roles/contributor-institutions/refresh:
    post:
      tags:
        - admin
      summary: Refresh contributor institution roles cache
      description: Forces a refresh of the ERNIE contributor institution roles cache and syncs the data to the local database. Requires API key authentication.
      operationId: refreshContributorInstitutionRolesCache
      responses:
        "200":
          description: Cache refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Contributor institution roles cache refreshed successfully"
                  itemCount:
                    type: integer
                    example: 13
                  lastUpdated:
                    type: string
                    format: date-time
                    example: "2026-03-08T10:30:00+00:00"
        "400":
          description: ERNIE service is not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Failed to fetch data from ERNIE
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/roles/contributor-institutions/status:
    get:
      tags:
        - admin
      summary: Get contributor institution roles cache status
      description: Returns the current status of the ERNIE contributor institution roles cache including validity, age, and item count.
      operationId: getContributorInstitutionRolesCacheStatus
      responses:
        "200":
          description: Cache status returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  configured:
                    type: boolean
                    description: Whether ERNIE service is configured
                    example: true
                  cache:
                    type: object
                    properties:
                      exists:
                        type: boolean
                        example: true
                      valid:
                        type: boolean
                        example: true
                      lastUpdated:
                        type: string
                        format: date-time
                        example: "2026-03-08T10:30:00+00:00"
                      age:
                        type: integer
                        description: Cache age in seconds
                        example: 3600
                      ageFormatted:
                        type: string
                        example: "1 hour 0 minutes"
                      ttl:
                        type: integer
                        description: Cache TTL in seconds
                        example: 21600
                      itemCount:
                        type: integer
                        example: 13
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/relationtypes/refresh:
    post:
      tags:
        - admin
      summary: Refresh relation types cache
      description: Forces a refresh of the ERNIE relation types cache and syncs the data to the local database. Requires API key authentication.
      operationId: refreshRelationTypesCache
      responses:
        "200":
          description: Cache refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Relation types cache refreshed successfully"
                  itemCount:
                    type: integer
                    example: 36
                  lastUpdated:
                    type: string
                    format: date-time
                    example: "2026-03-08T10:30:00+00:00"
        "400":
          description: ERNIE service is not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Failed to fetch data from ERNIE
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/relationtypes/status:
    get:
      tags:
        - admin
      summary: Get relation types cache status
      description: Returns the current status of the ERNIE relation types cache including validity, age, and item count.
      operationId: getRelationTypesCacheStatus
      responses:
        "200":
          description: Cache status returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  configured:
                    type: boolean
                    description: Whether ERNIE service is configured
                    example: true
                  cache:
                    type: object
                    properties:
                      exists:
                        type: boolean
                        example: true
                      valid:
                        type: boolean
                        example: true
                      lastUpdated:
                        type: string
                        format: date-time
                        example: "2026-03-08T10:30:00+00:00"
                      age:
                        type: integer
                        description: Cache age in seconds
                        example: 3600
                      ageFormatted:
                        type: string
                        example: "1 hour 0 minutes"
                      ttl:
                        type: integer
                        description: Cache TTL in seconds
                        example: 21600
                      itemCount:
                        type: integer
                        example: 36
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/identifiertypes/refresh:
    post:
      tags:
        - admin
      summary: Refresh identifier types cache
      description: Forces a refresh of the ERNIE identifier types cache and syncs the data to the local database. Requires API key authentication.
      operationId: refreshIdentifierTypesCache
      responses:
        "200":
          description: Cache refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Identifier types cache refreshed successfully"
                  itemCount:
                    type: integer
                    example: 8
                  lastUpdated:
                    type: string
                    format: date-time
                    example: "2026-03-08T10:30:00+00:00"
        "400":
          description: ERNIE service is not configured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Failed to fetch data from ERNIE
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /admin/cache/identifiertypes/status:
    get:
      tags:
        - admin
      summary: Get identifier types cache status
      description: Returns the current status of the ERNIE identifier types cache including validity, age, and item count.
      operationId: getIdentifierTypesCacheStatus
      responses:
        "200":
          description: Cache status returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  configured:
                    type: boolean
                    description: Whether ERNIE service is configured
                    example: true
                  cache:
                    type: object
                    properties:
                      exists:
                        type: boolean
                        example: true
                      valid:
                        type: boolean
                        example: true
                      lastUpdated:
                        type: string
                        format: date-time
                        example: "2026-03-08T10:30:00+00:00"
                      age:
                        type: integer
                        description: Cache age in seconds
                        example: 3600
                      ageFormatted:
                        type: string
                        example: "1 hour 0 minutes"
                      ttl:
                        type: integer
                        description: Cache TTL in seconds
                        example: 21600
                      itemCount:
                        type: integer
                        example: 8
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /doi/lookup/{doi}:
    get:
      tags:
        - doi
      security: []
      summary: Look up DOI metadata from DataCite
      description: |-
        Queries the DataCite REST API for the given DOI and returns the metadata attributes
        relevant for ELMO form pre-filling. Acts as a server-side proxy to avoid CORS issues.
        Returns a filtered subset of DataCite attributes (titles, creators, contributors, etc.).
      operationId: doiLookup
      parameters:
        - name: doi
          in: path
          required: true
          schema:
            type: string
          description: The full DOI string (e.g. "10.14454/qdd3-ps68")
          example: "10.14454/qdd3-ps68"
      responses:
        "200":
          description: DOI lookup result
          content:
            application/json:
              schema:
                type: object
                properties:
                  found:
                    type: boolean
                    description: Whether the DOI was found on DataCite
                  attributes:
                    type: object
                    description: Filtered DataCite metadata attributes (only present when found is true)
                    properties:
                      doi:
                        type: string
                        example: "10.14454/qdd3-ps68"
                      titles:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            titleType:
                              type: string
                              nullable: true
                      creators:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            givenName:
                              type: string
                            familyName:
                              type: string
                            nameType:
                              type: string
                            nameIdentifiers:
                              type: array
                              items:
                                type: object
                            affiliation:
                              type: array
                              items:
                                type: object
                      publicationYear:
                        type: integer
                        example: 2023
                      types:
                        type: object
                        properties:
                          resourceTypeGeneral:
                            type: string
                      language:
                        type: string
                        example: "en"
                      version:
                        type: string
                        nullable: true
                required:
                  - found
        "400":
          description: Invalid DOI format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: DataCite API unreachable or returned an error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /doi/contacts:
    get:
      tags:
        - doi
      security: []
      summary: Look up contact person data by ORCID or name
      description: |-
        Searches the local Contact_Person table for email and website by ORCID (preferred)
        or by family name and given name (fallback). Returns null values when no match is found.
        This is a best-effort lookup since DataCite does not store contact details.
      operationId: doiContacts
      parameters:
        - name: orcid
          in: query
          required: false
          schema:
            type: string
          description: ORCID identifier of the contact person
          example: "0000-0002-1825-0097"
        - name: familyname
          in: query
          required: false
          schema:
            type: string
          description: Family name for name-based lookup
          example: "Doe"
        - name: givenname
          in: query
          required: false
          schema:
            type: string
          description: Given name for name-based lookup
          example: "Jane"
      responses:
        "200":
          description: Contact person lookup result
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    nullable: true
                    description: Email address if found, null otherwise
                    example: "jane.doe@example.org"
                  website:
                    type: string
                    nullable: true
                    description: Website URL if found, null otherwise
                    example: "https://example.org/~jdoe"
                required:
                  - email
                  - website
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key to access protected endpoints. Required for all /update/ endpoints.
  schemas:
    License:
      type: object
      properties:
        rights_id:
          type: integer
          format: int64
          description: Unique identifier for the license
          example: 1
        name:
          type: string
          description: Full name of the license
          example: "Creative Commons Attribution 4.0 International"
        url:
          type: string
          format: uri
          description: URL to the license text
          example: "https://creativecommons.org/licenses/by/4.0/"
        forSoftware:
          type: integer
          enum: [0, 1]
          default: 0
          description: Indicates if license is suitable for software (1) or not (0)
      required:
        - rights_id
        - name
        - url
    SoftwareLicense:
      type: object
      properties:
        rights_id:
          type: integer
          format: int64
          description: Unique identifier for the software license
          example: 2
        name:
          type: string
          description: Full name of the software license
          example: "MIT License"
        url:
          type: string
          format: uri
          description: URL to the license text
          example: "https://opensource.org/licenses/MIT"
        forSoftware:
          type: integer
          enum: [1]
          default: 1
          description: Always 1 for software licenses
      required:
        - rights_id
        - name
        - url
        - forSoftware
    DraftRequest:
      type: object
      description: Request body for creating or updating an autosave draft.
      properties:
        payload:
          type: object
          description: Autosaved form data captured from the metadata editor.
          additionalProperties: true
      required:
        - payload
    DraftMetadata:
      type: object
      description: Metadata describing a persisted autosave draft.
      properties:
        id:
          type: string
          description: Unique identifier of the draft
          example: "4f2c1a7e2b7c4d9e8f6a1b0c2d3e4f5a"
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the draft was last updated (UTC, microsecond precision)
          example: "2024-05-18T12:34:56.123456Z"
        checksum:
          type: string
          description: SHA-256 checksum of the stored payload
          example: "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
      required:
        - id
        - updatedAt
        - checksum
    DraftRecord:
      allOf:
        - $ref: "#/components/schemas/DraftMetadata"
        - type: object
          properties:
            payload:
              type: object
              description: Autosaved form data previously submitted by the user.
              additionalProperties: true
          required:
            - payload
    TimezonesUpdateResponse:
      type: object
      properties:
        message:
          type: string
          description: Status message of the update operation
          example: "Timezones successfully updated"
        timezones:
          type: array
          description: List of updated timezones
          items:
            $ref: "#/components/schemas/Timezone"
      required:
        - message
        - timezones
    Timezone:
      type: object
      properties:
        value:
          type: string
          description: The timezone identifier
          example: "Europe/Berlin"
        label:
          type: string
          description: The formatted timezone label
          example: "UTC+02:00 (Europe/Berlin)"
      required:
        - value
        - label
    VocabularyUpdate:
      type: object
      properties:
        message:
          type: string
          description: Status message of the update operation
          example: "Successfully updated MSL vocabularies"
        version:
          type: string
          description: Version of the updated vocabulary
          example: "1.3"
        timestamp:
          type: string
          format: date-time
          description: Time of the update
          example: "2024-11-16T20:30:22Z"
      required:
        - message
        - version
        - timestamp
    RelationsResponse:
      type: object
      properties:
        relations:
          type: array
          description: List of available relations
          items:
            $ref: "#/components/schemas/Relation"
      required:
        - relations
    Relation:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the relation
          example: 1
        name:
          type: string
          maxLength: 45
          description: Name of the relation
          example: "IsCitedBy"
        description:
          type: string
          maxLength: 1000
          description: Description of the relation
          example: "Indicates that B cites A"
      required:
        - id
        - name
        - description
    MSLLabsUpdateResponse:
      type: object
      properties:
        message:
          type: string
          description: Status message of the update operation
          example: "MSL Labs vocabulary successfully updated"
        labs:
          type: array
          description: List of updated labs
          items:
            $ref: "#/components/schemas/MSLLab"
      required:
        - message
        - labs
    MSLLab:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the lab
          example: "lab1"
        name:
          type: string
          description: Name of the laboratory
          example: "Laboratory A"
        affiliation:
          type: string
          description: Affiliation of the laboratory
          example: "University X"
      required:
        - id
        - name
        - affiliation
    RorAffiliation:
      type: object
      properties:
        id:
          type: string
          description: ROR identifier of the affiliation
          example: "https://ror.org/012m9bp23"
        name:
          type: string
          description: Preferred name of the affiliation
          example: "University of Applied Sciences Potsdam"
        other:
          type: array
          description: Alternative names (aliases, labels, acronyms)
          items:
            type: string
          example:
            - "FH Potsdam"
            - "Fachhochschule Potsdam University of Applied Sciences"
            - "Fachhochschule Potsdam"
            - "FHP"
      required:
        - id
        - name
        - other
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: "An error occurred"
      required:
        - error
    GcmdVocabularyUpdate:
      type: object
      properties:
        message:
          type: string
          description: Status message of the update operation
          example: "GCMD vocabularies update completed"
        results:
          type: object
          description: Results for each vocabulary type
          properties:
            instruments:
              type: string
              example: "Updated successfully"
            sciencekeywords:
              type: string
              example: "Updated successfully"
            platforms:
              type: string
              example: "Updated successfully"
        timestamp:
          type: string
          format: date-time
          description: Time of the update
          example: "2024-11-17T10:51:38Z"
      required:
        - message
        - results
        - timestamp
    HealthResponse:
      type: object
      properties:
        message:
          type: string
          description: Health status message
          example: "I'm still alive..."
      required:
        - message
    VocabularyTree:
      type: array
      description: Hierarchical structure of vocabulary terms
      items:
        $ref: "#/components/schemas/VocabularyNode"
    VocabularyNode:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the term
        text:
          type: string
          description: Display text of the term
        language:
          type: string
          description: Language code of the term
        scheme:
          type: string
          description: Name of the vocabulary scheme
        schemeURI:
          type: string
          format: uri
          description: URI of the vocabulary scheme
        description:
          type: string
          description: Description or synonyms (comma-separated)
        children:
          type: array
          description: Child terms in the hierarchy
          items:
            $ref: "#/components/schemas/VocabularyNode"
      required:
        - id
        - text
        - language
        - scheme
        - schemeURI
        - description
        - children
    Role:
      type: object
      description: |
        When served from ERNIE (default), only `name` and `forInstitutions` are returned.
        When falling back to the local database, additional fields like `role_id` and `ernie_id` may be present.
      properties:
        name:
          type: string
          description: Name of the role
          example: "Data Curator"
        forInstitutions:
          type: integer
          description: |
            Role type indicator:
            * `0` - for persons only
            * `1` - for institutions only
            * `2` - for both persons and institutions
          enum: [0, 1, 2]
          example: 0
        role_id:
          type: integer
          description: Local database identifier (only present in DB fallback responses)
          example: 1
        ernie_id:
          type: integer
          nullable: true
          description: ERNIE API identifier (only present in DB fallback responses)
          example: 5
      required:
        - name
        - forInstitutions
    FreeKeywordsResponse:
      type: array
      description: List of free keywords
      items:
        type: object
        properties:
          free_keyword:
            type: string
            description: The keyword text
            example: "carbon dioxide emission"
        required:
          - free_keyword
    PatternResponse:
      type: object
      properties:
        pattern:
          type: string
          description: Regular expression pattern for validation
          example: "^[a-zA-Z0-9]{10}$"
      required:
        - pattern
    IdentifierTypesResponse:
      type: object
      properties:
        identifierTypes:
          type: array
          description: List of identifier types
          items:
            $ref: "#/components/schemas/IdentifierType"
      required:
        - identifierTypes
    IdentifierType:
      type: object
      properties:
        name:
          type: string
          description: Name of the identifier type
          example: "DOI"
        pattern:
          type: string
          description: Regular expression pattern for validation
          example: "^10\\.\\d{4,9}/[-._;()/:A-Z0-9]+$"
        description:
          type: string
          description: Description of the identifier type
          example: "Digital Object Identifier"
      required:
        - name
        - pattern
        - description
    ResourceType:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the resource type
          example: 5
        resource_type_general:
          type: string
          description: General name of the resource type
          example: Dataset
        description:
          type: string
          description: Description of the resource type
          example: Data encoded in a defined structure.
      required:
        - id
        - resource_type_general
    Language:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the language
          example: 1
        code:
          type: string
          description: ISO 639-1 code of the language
          example: en
        name:
          type: string
          description: Name of the language
          example: English
      required:
        - id
        - code
        - name
    TitleType:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the title type (local database ID)
          example: 1
        name:
          type: string
          description: Name of the title type
          example: "Main Title"
      required:
        - id
        - name
    DescriptionType:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier of the description type (ERNIE ID)
          example: 1
        name:
          type: string
          description: Display name of the description type
          example: "Abstract"
        slug:
          type: string
          description: URL-friendly identifier used as form field key
          example: "Abstract"
      required:
        - id
        - name
        - slug
    Pid4instInstrument:
      type: object
      description: A scientific instrument from the PID4INST catalogue
      properties:
        pid:
          type: string
          description: Persistent identifier (Handle) of the instrument
          example: "21.11157/a9250866-bbec-4542-86b3-a5f78c0c6922"
        pidType:
          type: string
          description: Type of the persistent identifier
          example: "Handle"
        name:
          type: string
          description: Name of the instrument
          example: "MFC_001000_02"
        instrumentTypes:
          type: array
          description: List of instrument type classifications
          items:
            type: string
          example: ["Mass flow controller"]
      required:
        - pid
        - pidType
        - name
        - instrumentTypes